<%- include("header.ejs") %>

<section class="world-header-main">
    <h1>Politics News</h1>
</section>

<div class="world-content-container">
<% for(let i=0 ; i < content.results.length; i++) {%>
    <% if(locals.content.results[i].multimedia) {%>
    <div class="wcc-element">
        <div class="wcce-text">
            <div class="wcce-text-upper">
                <h2 class="wcce-subsection">
                    <%= content.results[i].subsection.charAt(0).toUpperCase() +
                        content.results[i].subsection.slice(1) %>
                </h2>
                <h2>
                    <%= content.results[i].title %>
                </h2>
                <h4 class="home-left-std-abs">
                    <%= content.results[i].abstract %>
                </h4>
            </div>
            <div class="wcce-text-lower">
                <a href="<%= content.results[i].url %>">Read More</a>
            </div>
        </div>

        <div class="wcce-image">
            <img src="<%= content.results[i].multimedia[1].url %>">
        </div>
    </div>
    <% } %>
    <% } %>
</div>